.App {
  text-align: center;
}

.game {
	display:flex;
	justify-content:center;
	align-items:center
}
form {
	display:flex;
	margin:5px;
	
}

form div {
	margin:5px;
}
img {
	margin:10px auto;
	height:500px;
	width:800px;
	border:2px solid black;
}

.title-header {
  display: flex;
  height: 20vh;
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: flex-end;
  background-color: "#6b93d6";
}

